.Error {
  background-color: var(--white);
  padding: 20px 25px;
  text-align: center;
  font-size: 14px;
  line-height: 1.5;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 11;
  &__title {
    font-family: var(--roober-semibold);
  }
  &__text {
    font-family: var(--my-abcdiatypesemi-mono-regular);
    span {
      color: #0095f6;
      text-decoration: none;
      cursor: pointer;
    }
  }
}
