.HomeScreenItem {

  .container {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    background: white;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 768px) {
      width: 140px;
      height: 140px;
      transition: ease 0.5s;
    }
  }

  .title {
    text-align: center;
    color: white;
    padding-right: 20px;
    margin-top: 11px;
    font-family: var(--my-abcdiatypesemi-mono-regular);
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
  }

  .image {
    width: 75%;
    height: 75%;
  }
}
