.Item {
  display: flex;
  flex-direction: row;
  font-family: var(--abcdiatypesemi-mono-regular);
  margin: 25px;

  .waterIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 61px;
    height: 61px;
    border: 2px solid black;
    border-radius: 50%;
  }

  .ItemImageContainer {
    width: 87px;
    min-height: 68px;
    justify-content: center;
  }

  .ItemImage {
    width: 59px;
    height: 59px;
    border-radius: 30px;
  }

  .ItemText {
    padding-left: 22px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    color: black;
    position: relative;
    top: 7px;
  }
  .ItemFrom {
    text-align: left;
    font-size: 16px;
    font-family: var(--abcdiatypesemi-mono-medium);

    sub {
      font-size: 0.6rem;
    }
  }
  .ItemTo {
    display: flex;
    min-width: 100%;
    align-self: flex-end;

    .info {
      min-width: 100%;
      font-size: 14px;
      font-family: var(--abcdiatypesemi-mono-regular);

      display: flex;
      align-items: center;
      justify-content: space-between;

      div {
        text-align: left;
      }
    }

    span {
      font-family: var(--abcdiatypesemi-mono-regular);
    }
  }

  .ItemIcon {
    height: 27px;
    width: 24px;
    align-self: flex-end;
  }
}
