.ProductRequest {
  width: 100%;

  &.active {
    position: relative;
    z-index: 2;
  }
  .title {
    color: var(--neutrals-spin-black, #0a0b0c);
    font-family: var(--italianoldstylemtstd-regular);
    font-size: 18px !important;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
  }
  span {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 20px;
    color: var(--black, #0a0b0c);
    font-family: var(--italianoldstylemtstd-regular) !important;
    font-size: 14px !important;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    ::selection {
      color: inherit;
    }

    .customInput {
      line-height: 20px;
      padding: 0px;
      padding-top: 10px;
      padding-bottom: 8px !important;
      background-color: transparent;
      border: 1px solid var(--white);
      border-width: 0 0 1px 0;
      color: var(--white);
      border-radius: 0;
      -webkit-border-radius: 0px;
      border: var(--main-bg-color);
      background-color: #e8ebee;
      color: #acb4bc;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    .cardIconHolder {
      display: flex !important;
      justify-content: space-evenly !important;
      align-items: flex-start !important;
    }

    input {
      border: var(--main-bg-color);
      background-color: #e8ebee;
      font-size: 16px;
      font-family: var(--abcdiatypesemi-mono-regular);
      padding-left: 20px;
      color: #acb4bc;
      &::placeholder {
        color: var(--grey);
      }

      &[readOnly] {
        cursor: pointer;
      }
    }

    .arrow {
      position: absolute;
      right: 1px;
      bottom: -5px;

      transform: rotate(360deg);
      padding: 10px;
      cursor: pointer;
      // background-color: red($color: #000000);

      &.opened {
        transform: rotate(180deg);
      }
    }
    .blackarrow {
      filter: brightness(0) saturate(100%);
      position: absolute;
      right: 8px;
      bottom: 11px;
      transform: rotate(180deg);
      cursor: pointer;

      &.opened {
        transform: rotate(90deg);
      }
    }

    .dropdown {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      z-index: 2;
      background-color: #e8ebee;

      .arrow {
        bottom: calc(100% + 10px);
        transform: rotate(-90deg);
        z-index: -1;

        &.opened {
          transform: rotate(90deg);
        }
      }

      .blackarrow {
        filter: brightness(0) saturate(100%);
        bottom: calc(100% + 10px);
        transform: rotate(-90deg);
        z-index: -1;

        &.opened {
          transform: rotate(90deg);
        }
      }

      .variants {
        max-height: 130px;
        overflow-y: auto;
        margin: 0;
        padding: 10px;
        list-style-type: none;
        background-color: #e8ebee;
        border-top: none;
        border-radius: 0 0 10px 10px;
        font-size: 16px;

       
      }
    }
  }
  .errorText {
    color: var(--tomato);
    margin-top: 4px;
    display: inline-block;
    font-size: 14px;
  }
}
