.TabsGroup {
  display: flex;
  justify-content: flex-start;
  border-bottom: 0.1px solid var(--black);
  overflow: hidden;
  color: black;
  margin-top: 30px;
  gap: 10px;
  overflow-x: auto;
  scrollbar-width: none;
  .TabsGroup::-webkit-scrollbar {
    display: none;
  }
  // @media (min-width: 601px) {
  //   display: flex;
  //   flex-direction: row;
  // }

  & > button {
    color: var(--black);
    font-family: var(--italianoldstylemtstd-regular);
    appearance: none;
    outline: none;
    img {
      opacity: 0.5;
    }

    @media (min-width: 1280px) {
      max-width: 134px;
    }

    svg {
      path {
        stroke: var(--grey);
      }
    }

    &.fill {
      svg {
        path {
          fill: var(--grey);
        }
      }
    }

    &.notactiveTab {
      color: white;
      // background-color: black;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.625rem;

      &::before {
        display: block;
      }

      svg {
        path {
          stroke: var(--white);
        }
      }

      img {
        opacity: 1;
      }

      &.notactiveTab .innerContainer {
        // @media (min-width: 601px) {
        // }
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: black !important;
      }

      &.notactiveTab .myLabel {
        background-color: transparent;
        display: flex;
        align-items: center;
        left: 16px;
        border-radius: 5px !important;
        position: relative;
        z-index: 2;
        padding: 10px;
      }

      &.notactiveTab .myLabel .icon {
        position: relative;
        top: 2px;
        margin-right: 10px;
      }

      &.notactiveTab .myLabel .labelText {
        color: var(--black);
        text-align: center;
        font-family: var(--italianoldstylemtstd-regular);
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 10px;
        text-transform: uppercase;
        position: relative;
        top: 0px;
        flex-grow: 1;
      }
      &.notactiveTab .circle {
        background-color: red !important;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        position: absolute;
        top: 40%;
        left: 23%;
        transform: translate(-50%, -50%);
        z-index: 3;
      }

      &.fill {
        svg {
          path {
            fill: var(--white);
          }
        }
      }
    }

    &.activeTab {
      color: white;
      // background-color: black;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.625rem;

      &::before {
        display: block;
      }

      svg {
        path {
          stroke: var(--white);
        }
      }

      img {
        opacity: 1;
      }

      &.activeTab .innerContainer {
        // @media (min-width: 601px) {
        // }
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white !important;
      }

      &.activeTab .myLabel {
        background-color: black;
        display: flex;
        align-items: center;
        left: 16px;
        flex-grow: 1; /* Added */
        height: 34px;
        border-radius: 5px !important;
        position: relative;
        z-index: 2;
        padding: 10px;
      }

      &.activeTab .myLabel .icon {
        position: relative;
        top: 2px;
        margin-right: 10px;
        flex: 1;
      }

      &.activeTab .myLabel .labelText {
        color: var(--white, #e8ebee);
        text-align: center;
        font-family: var(--italianoldstylemtstd-regular);
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 10px;
        text-transform: uppercase;
        position: relative;
        top: 0px;
        flex-grow: 1; /* Added */
      }
      &.activeTab .circle {
        background-color: red !important;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        position: absolute;
        top: 40%;
        left: 23%;
        transform: translate(-50%, -50%);
        z-index: 3;
      }

      &.fill {
        svg {
          path {
            fill: var(--white);
          }
        }
      }
    }
  }
}

.TabsGroup1 {
  display: flex;
  justify-content: space-evenly;
  overflow: hidden;
  color: black;
  margin-top: 10px;
  // @media (min-width: 601px) {
  //   display: flex;
  //   flex-direction: row;
  // }

  & > button {
    color: var(--black);
    font-family: var(--italianoldstylemtstd-regular);
    appearance: none;
    outline: none;
    img {
      opacity: 0.5;
    }

    @media (min-width: 1280px) {
      max-width: 134px;
    }

    svg {
      path {
        stroke: var(--grey);
      }
    }

    &.fill {
      svg {
        path {
          fill: var(--grey);
        }
      }
    }

    &.notactiveTab .innerContainer {
      position: relative;
      color: black !important;
    }
    &.notactiveTab .myLabel {
      left: 16px;
      width: 86px;
      height: 30px;

      padding-top: 10px;
      padding-bottom: 5px;
      margin-bottom: 5px;
      border-radius: 5px;

      position: relative;
      z-index: 2;
    }

    &.notactiveTab .myLabel .icon {
      position: relative;
      top: 4px;
      left: -10px;
    }
    &.notactiveTab .myLabel .labelText {
      position: relative;
      top: -2px;
    }
    &.notactiveTab .emptyCircle {
      background-color: var(--main-bg-color) !important;
      border: 1px black solid;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      position: absolute;
      top: 40%;
      left: 23%;
      transform: translate(-50%, -50%);
      z-index: 3;
    }

    &.activeTab {
      color: white;
      // background-color: black;
      gap: 0.625rem;
      width: 86px;
      height: 30px;

      &::before {
        display: block;
      }

      svg {
        path {
          stroke: var(--white);
        }
      }

      img {
        opacity: 1;
      }

      &.activeTab .innerContainer {
        // @media (min-width: 601px) {
        // }
        position: relative;
        color: white !important;
        width: 86px;
        height: 30px;
      }

      &.activeTab .myLabel {
        background-color: black;
        left: 16px;
        width: 86px;
        height: 30px;

        padding-top: 10px;
        padding-bottom: 5px;
        margin-bottom: 5px;
        border-radius: 5px;

        position: relative;
        z-index: 2;
      }
      &.activeTab .myLabel .icon {
        position: relative;
        top: 4px;
        left: -10px;
      }
      &.activeTab .myLabel .labelText {
        position: relative;
        top: -2px;
      }

      &.activeTab .circle {
        background-color: red !important;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        position: absolute;
        top: 40%;
        left: 23%;
        transform: translate(-50%, -50%);
        z-index: 3;
      }

      &.fill {
        svg {
          path {
            fill: var(--white);
          }
        }
      }
    }
  }
}
