.Spins {
  margin-bottom: 50px;
  font-family: var(--abcdiatypesemi-mono-regular);
  color: var(--white);

  .profileInfo {
    padding: 13px 12px 27px;
    border-bottom: 2px solid var(--white);

    .profileSummaryWrapper {
      display: flex;
      justify-content: space-between;
      margin-top: 17px;

      .profileSummaryInfo {
        display: flex;
        flex-direction: column;

        .profileFullName {
          font-size: 1.375rem;
          word-break: break-all;

          @media (min-width: 1280px) {
            word-break: initial;
          }
        }

        .impactInfo {
          margin: 18px 0 0;
          padding-left: 0;
          list-style-type: none;

          li {
            display: flex;
            align-items: center;
            font-size: 0.75rem;

            span {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 23px;
              height: 23px;
              margin-right: 10px;

              svg {
                width: 100%;
                height: 100%;
              }
            }

            &:not(:first-child) {
              margin-top: 13px;
            }
          }
        }
        .profileButtons {
          display: flex;
          margin: 18px 0 0;

          button[type="button"] {
            width: 81px;
            padding: 4.5px 8px;
            font-family: var(--abcdiatypesemi-mono-regular);

            svg {
              margin-left: 8px;
            }

            &:not(:first-of-type) {
              margin-left: 11px;
            }

            &:last-of-type {
              &.followingButton {
                display: flex;
                align-items: center;
                background-color: var(--white);
                color: var(--black);

                .triangle {
                  width: 0;
                  height: 0;
                  margin-top: 2px;
                  border-style: solid;
                  border-width: 0 5px 11px 5px;
                  border-color: transparent transparent var(--black) transparent;
                }
              }

              &.unfollowingButton {
                min-width: 30px;
                width: 30px;
                padding: 0;
                background-color: transparent;
                color: var(--black);
                text-transform: capitalize;

                .triangle {
                  min-width: 30px;
                  height: 30px;

                  svg {
                    width: 100%;
                    height: 100%;
                    margin-left: 0;
                  }
                }
              }
            }
          }
        }
      }

      .profilePhoto {
        min-width: 156px;
        width: 156px;
        height: 156px;
        margin: 0;

        img {
          width: 100%;
          height: 100%;
          display: block;
          object-fit: cover;
          border-radius: 50%;
          border: 1px solid var(--white);
        }
      }
    }
  }

  .content {
    padding: 0 10px;

    .header {
      display: flex;
      align-items: center;
      .mainTitle {
        font-size: 1.375rem;
      }

      span {
        display: flex;
        align-items: center;
        margin-left: 15px;
        font-family: var(--abcdiatypesemi-mono-regular);
        font-size: 0.75rem;

        .starIcon,
        .checkIcon {
          margin-right: 5px;
        }
      }
    }

    .spinsList {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 44px 20px;
      margin: 0 0 20px;
      padding: 0;
      list-style-type: none;

      li {
        border-radius: 10.6px;
        overflow: hidden;
        background-color: #fff;

        div {
          width: 100%;
          padding-top: 100%;
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
        }
      }

      @media (min-width: 1280px) {
        width: 70vw;
        margin: 0 auto 20px;

        li {
          border-radius: 19px;
        }
      }

      figure {
        height: 100%;
      }
    }
  }
}
