.GiveBackQRModal {
  display: flex;
  flex-direction: column;
  align-items: center;

  .header {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;

    .backButton {
      position: absolute;
      top: 5px;
      left: 0;
      width: 60px;
      height: 60px;
      padding: 23px;
      cursor: pointer;

      img {
        width: 100%;
      }
    }
    span {
      font-family: var(--abcdiatypesemi-mono-regular);
      font-size: 24px;
    }
    .logoImg {
      width: 55px;
    }
  }

  .content {
    width: 100%;
    .QRCode {
      svg {
        width: 100% !important;
      }

      .name {
        margin-top: 25px;
        margin-bottom: 6px;
        font-family: var(--abcdiatypesemi-mono-regular);
      }

      .slug {
        font-family: var(--abcdiatypesemi-mono-regular);
        color: rgb(35, 158, 255);
      }

      .bio {
        margin-top: 10px;
        font-size: 18px;
      }

      a {
        display: block;
        margin-bottom: 45px;
        color: rgb(35, 158, 255);
        text-decoration: none;
        word-wrap: break-word;
      }
    }
  }
}
