@font-face {
  font-family: "ABCDiatypeSemi-Mono-Regular";
  src: local("ABCDiatypeSemi-Mono-Regular"), url("../fonts/ABCDiatypeSemi-Mono-Regular.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ItalianOldStyleMTStd-Italic";
  src: local("Italian Old Style MT Std Italic"), local("ItalianOldStyleMTStd-Italic"),
    url("../fonts/ItalianOldStyleMTStd-Italic.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}


