:root {
  // Colors
  --main-bg-color: #d8dbde;
  --white: #fff;
  --black: #000;

  //Fonts

  --abcdiatypesemi-mono-light: "ABCDiatypeSemi-Mono-Regular-Light";
  --abcdiatypesemi-mono-medium: "ABCDiatypeSemi-Mono-Regular-Medium";
  --abcdiatypesemi-mono-regular: "ABCDiatypeSemi-Mono-Regular-Regular";

  --italianoldstylemtstd-italic: "ItalianOldStyleMTStd-Italic-Italic";
  --italianoldstylemtstd-regular: "ItalianOldStyleMTStd-Italic-Regular";
  // Numeric
  --upload-image-size: 310px;
  // zIndexes
  --zIndex-modal-overlay: 12;
  // Dark gray spin
  --spin-dark-grey1: #161a1c;
  --spin-dark-grey2: #212529;
  --spin-dark-grey3: #343a40;
  // Light grey spin
  --spin-light-grey3: #e8ebee;
  --spin-light-grey2: #cdd3d9;
  --spin-light-grey1: #acb4bc;

  // Color Palletes
  --red: #8f3535;
  --light-red: #ff5f5f;
  --pinkish-purple: #ffc0ff;
  --green: #235045;
  --bright-green: #55ff79;
  --pale-green: #b0ef8f;
  --blue: #242365;
  --light-blue: #5858ed;
  --water-blue: #80e7ff;
}
