:root {
  // Colors
  --main-bg-color: #D8DBDE;
  --white: #fff;
  --black: #000;

  
  //Fonts
 

  --abcdiatypesemi-mono-regular: "ABCDiatypeSemi-Mono-Regular";
  --italianoldstylemtstd-italic: "ItalianOldStyleMTStd-Italic";
  // Numeric
  --upload-image-size: 310px;
  // zIndexes
  --zIndex-modal-overlay: 12;
// Dark gray spin
  --spin-dark-grey1:#161A1C;
  --spin-dark-grey2:#212529;
  --spin-dark-grey3:#343A40;
// Light grey spin
  --spin-light-grey3:#E8EBEE;
  --spin-light-grey2: #CDD3D9;
  --spin-light-grey1:#ACB4BC;

  // Color Palletes
  --red:#8F3535;
  --light-red:#FF5F5F;
  --pinkish-purple:#FFC0FF;
  --green:#235045;
  --bright-green:#55FF79;
  --pale-green:#B0EF8F;
  --blue:#242365;
  --light-blue:#5858ED;
  --water-blue:#80E7FF; 

}
