.RentalBlock {
  margin-top: 10px;
  &__image {
    position: relative;
    img {
      border-radius: 9px;
      max-width: 100%;
      opacity: 0.5;
    }
    & > div {
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      span {
        width: 100%;
        text-align: center;
        color: #2a7edd;
        text-transform: uppercase;
        font-size: 22px;
      }
      span[data-delay="true"] {
        color: rgb(246, 61, 84);
      }
    }
  }

  &__actionBtn[data-delay="true"] {
    background-color: rgb(246, 61, 84);
  }
}

.actionBtn {
  display: flex;
  padding: 11px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 8px;
  background: #ff5f5f;
  width: 100%;
}
