.PaymentModal {
  display: flex;
  flex-direction: column;
  align-items: center;

  .header {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 80px;

    .backButton {
      position: absolute;
      top: 5px;
      left: 0;
      width: 60px;
      height: 60px;
      padding: 23px;
      cursor: pointer;

      img {
        width: 100%;
      }
    }
    span {
      font-family: var(--abcdiatypesemi-mono-regular);
      font-size: 24px;
    }
  }

  .circle {
    width: 74px;
    height: 74px;
    margin: 0 auto;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    &.greenCircle {
      background-color: rgb(31, 241, 156);

      img {
        width: 25px;
        height: 20px;
      }
    }

    &.redCircle {
      background-color: var(--tomato);

      svg {
        width: 20px;
        height: 20px;
      }
    }
  }

  .mainMessage {
    margin-top: 34px;
    font-family: var(--abcdiatypesemi-mono-regular);
    font-size: 22px;
    text-align: center;
    color: var(--main-bg-color);

    strong {
      font-family: var(--abcdiatypesemi-mono-regular);
    }
  }

  .secondaryMessage {
    display: flex;
    align-items: center;
    margin: 50px 27px 50px 19px;
    font-family: var(--abcdiatypesemi-mono-regular);
    font-size: 1rem;
    color: var(--main-bg-color);

    strong {
      font-family: var(--abcdiatypesemi-mono-regular);
    }

    span {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 16px;
      width: 16px;
      height: 16px;
      margin-left: 5px;
      background-color: var(--main-bg-color);
      border-radius: 50%;
      color: var(--white);
      font-size: 12px;
    }
  }

  a {
    text-decoration: none;
  }

  button[type="button"] {
    height: 55px;
    margin-top: 24px;
    margin-bottom: 23px;
    background-color: var(--main-bg-color);
    border-radius: 27px;
    color: var(--white);
    font-family: var(--abcdiatypesemi-mono-regular);
    font-size: 18px;
    letter-spacing: 1.13px;
  }
  .viewBtn {
    display: block;
    width: 100%;
    text-transform: uppercase;
  }
  .cancelBtn[type='button'] {
    display: block;
    width: 100%;
    background-color: var(--white);
    color: var(--main-bg-color);
  }
}
