.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  line-height: 16.6px;
  font-family: var(--my-abcdiatypesemi-mono-regular);
  color: #ffffff;
  border-bottom: 1px solid var(--white);
  padding: 0px 0px 20px 16px;
  margin-bottom: 20px;

  @media (min-width: 1280px) {
    padding: 0 35% 20px;
  }

  .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    // background-color: green;

    .header {
      text-align: left;
      font-family: var(--my-abcdiatypesemi-mono-regular);
      font-weight: 600;
      font-size: 15.5px;
      line-height: 19px;
      margin-bottom: 10px;
      margin-left: 5px;
      // background-color:red;
    }


    .iconContainer {
      display: grid;
      place-items: center;
      min-width: 37px;
      min-height: 37px;
      border-radius: 50%;
      border: 1.3px solid #ffffff;
    }

    span {
      margin: 0px 5px 0px 15px;
      font-family: var(--my-abcdiatypesemi-mono-regular);
      font-weight: 400;
      font-size: 15.5px;
      line-height: 19px;
    }
  }
}
