 {/* 
        <img
          className={styles.EmptyBrandTab__plusIcon}
          src={plusIcon}
          alt="Plus icon"
          onClick={() => {
            if (userSubscription) {
              openUploadSelection();
            } else {
              dispatch(unsubscribedActions.showUnsubscribedUserModal());
            }
          }}
        />
        <p className={styles.EmptyBrandTab__inscription}>
          {placeholderTexts[tabname].one}
          <br /> {placeholderTexts[tabname].two}
        </p>
        <Button
          color="white"
          size="extraLarge"
          onClick={() => {
            if (userSubscription) {
              openUploadSelection();
            } else {
              dispatch(unsubscribedActions.showUnsubscribedUserModal());
            }
          }}
        >
          Get started
        </Button>
      </div>
      {isUploadSelectionOpened && (
        <UploadSelection
          role={userInfo?.business_role}
          onClose={closeUploadSelection}
        />
      )} */}