.Message {
  color: white;
  font-family: var(--my-abcdiatypesemi-mono-regular);

  .contentWrapper {
    position: relative;
    max-width: 254px;
    .leftUvula:before {
      content: "";
      display: inline-block;
      height: 10px;
      width: 20px;
      transform: skewX(25deg);
      position: absolute;
      top: 12px;
      left: 0;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
    font-family: var(--my-abcdiatypesemi-mono-regular);
    font-size: 16px;
    border-radius: 20px;
    word-break: break-word;
    overflow: hidden;

    strong {
      font-family: var(--my-abcdiatypesemi-mono-regular);
    }
  }
  .slugContainer {
    display: flex;
    align-items: center;
  }
  .messageSlug {
    color: #fff;
    font-family: var(--my-abcdiatypesemi-mono-regular);
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 10px; /* Adjust the margin value as needed */
  }

  .user_message {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;

    .image {
      margin-left: 10px;
    }

    .content {
      padding: 10px 9px 13px 13px;
      background-color: #5858ec;
    }
  }

  .interloc_message {
    display: flex;
    width: 100%;
    justify-content: flex-start;

    .content {
      position: relative;
      top: -20%;
      padding: 8px 13px 13px 9px;
      background-color: rgb(44, 43, 53);
      
    }

    
  }

  .image {
    width: 25px;
    min-width: 25px;
    height: 25px;
    min-height: 25px;
    margin: 0;
    border-radius: 50%;
  }

  .messageTimeUser {
    margin-top: 5px;
    font-family: var(--my-abcdiatypesemi-mono-regular);
    font-size: 9px;
    color: #7b7b7b;
    float: right;
  }
  .messageTime {
    margin-top: 5px;
    font-family: var(--my-abcdiatypesemi-mono-regular);
    font-size: 9px;
    color: white;
    float: right;
  }
  
  .productImage {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0 12px;

    img {
      width: 91px;
      min-width: 91px;
      height: 91px;
      min-height: 91px;
      margin: 0;
      border-radius: 9px;
    }

    .circle {
      margin-left: 47px;

      &.passed {
        background-color: #1ff19c;
      }

      &.declined {
        background-color: #f63d54;
      }

      img {
        min-width: 20px;
        width: 20px;
        height: 16px;
        min-height: 16px;
        border-radius: 0;
      }
    }
  }

  .circle {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

    img {
      width: 20px;
      height: 16px;
    }
  }
  .textBlock {
    .link {
      color: #239eff;
      text-decoration: none;
      cursor: pointer;
    }
  }
}
