.modalHeader {
  margin-bottom: 18px;
}

.modalBody {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .modalTitle {
    margin-top: 13px;
    margin-bottom: 44px;
  }

  .details {
    width: 80%;

    label {
      margin-bottom: 5px;
    }

    .detailsTitle {
      margin: 10px 0 10px 0;
    }

    .detailsTitle:not(:first-child) {
      margin-bottom: 0;
    }
  }

  .buttons {
    margin-top: 122px;

    & > button:not(:first-child) {
      margin-top: 13px;
    }
  }
}
