.UnactiveSubscriptionModal {
  display: flex;
  flex-direction: column;
  align-items: center;

  .header {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 80px;

    .backButton {
      position: absolute;
      top: 5px;
      left: 0;
      width: 60px;
      height: 60px;
      padding: 23px;
      cursor: pointer;

      img {
        width: 100%;
      }
    }
    span {
      font-family: var(--my-abcdiatypesemi-mono-regular);
      font-size: 24px;
    }
    .logoImg {
      width: 55px;
    }
  }

  .circle {
    width: 74px;
    height: 74px;
    margin: 0 auto;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    &.redCircle {
      background-color: var(--tomato);

      img {
        width: 20px;
        height: 20px;
      }
    }
  }

  .mainMessage {
    margin-top: 34px;
    font-family: var(--my-abcdiatypesemi-mono-regular);
    font-size: 22px;
    text-align: center;
    color: var(--main-bg-color);
  }

  .secondaryMessage {
    display: flex;
    align-items: center;
    margin: 88px 25px 60px 0;
    font-family: var(--my-abcdiatypesemi-mono-regular);
    font-size: 18px;
    color: var(--main-bg-color);
    p {
      margin: 0;
    }

    span {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 16px;
      width: 16px;
      height: 16px;
      margin-left: 60px;
      background-color: var(--main-bg-color);
      border-radius: 50%;
      color: var(--white);
      font-size: 12px;
    }
  }

  .buttonContainer {
    .addCardButton {
      height: 55px;
      margin-bottom: 5px;
      background-color: var(--white);
      color: var(--black);
      font-family: var(--my-abcdiatypesemi-mono-regular);
      font-size: 18px;
      letter-spacing: 1.13px;
      border-radius: 70px;
      border: 1px solid black;
    }
    .okButton {
      height: 55px;
      margin-bottom: 5px;
      background-color: var(--clear-blue);
      color: var(--white);
      font-family: var(--my-abcdiatypesemi-mono-regular);
      font-size: 18px;
      letter-spacing: 1.13px;
      border-radius: 70px;
    }

  }

  & form {
    & > * {
      &:not(:first-child) {
        margin-top: 33px;
      }
    }
    ul{
      color: var(--white);
      font-size: 15px;
    }
    label {
      position: relative;
      font-size: 18px;
      font-family: var(--my-abcdiatypesemi-mono-regular);



      &::before {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: var(--main-bg-color);
        border-radius: 10px;
      }


      input {
        height: 27px;
        margin-bottom: 8px;
        padding-bottom: 0;
        border-bottom-width: 0;
        color: var(--main-bg-color);
      }

      input::placeholder {
        color: black;
        font-family: var(--my-abcdiatypesemi-mono-regular);
        font-size: 18px;
        color: var(--main-bg-color);
      }

    }

  }
}
