.TabContent {
  margin-top: 1rem;
  position: relative;
  height: 100%; 
  overflow-y: auto;

  a {
    display: block;
    text-decoration: unset;
    color: var(--white);

    margin-top: 28px;
    margin-left: 10px;
    margin-right: 70px;
  }
}
.TabContent::-webkit-scrollbar {
  width: 0.5em; 
}

.TabContent::-webkit-scrollbar-track {
  background-color: transparent;
}

.TabContent::-webkit-scrollbar-thumb {
  background-color: transparent;
}
