.imagesGroup {
    display: grid;
    grid-template-columns: repeat(4, 90px);
    grid-template-rows: 1fr 1fr;
    height: 180px;
    padding: 0 26px;
    margin-bottom: 39px;
    gap: 1px;
    justify-content: center;

    @media (min-width: 950px) {
        grid-template-columns: repeat(5, 180px);
        grid-template-rows: 1fr;
        gap: 10px;
        justify-content: center;
    }

    .mainImage {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
        border-radius: 9px;
        width: 180px;

        @media (min-width: 950px) {
            width: None;
            grid-column: initial;
            grid-row: initial;
        }
    }

    label {
        overflow: hidden;
        border-radius: 9px;
        div[data-label-text="labelBlock"] {
            span {
                color: var(--grey);
                font-size: 0.625rem;
            }
            span:first-child {
                font-size: 1.1rem;
                @media (min-width: 950px) {
                    font-size: 1.8rem;
                }
            }
        }
    }
}
