.toolTipModal {
  & > div {
    align-items: center;
  }
  &__closeBtn {
    width: 14px;
    cursor: pointer;
  }
  &__text {
    font-family: var(--abcdiatypesemi-mono-regular);
    font-size: 14px;
  }
}
