.Journey {
  display: flex;
  flex-direction: column;
  padding-left: 19px;

  @media (min-width: 1280px) {
    padding: 0 35.6%;
  }

  .JourneyTextMain {
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 10px;
    margin: 15px 28px 35px 0;
    font-family: var(--my-abcdiatypesemi-mono-regular);
    font-size: 12px;
    letter-spacing: 0.16px;
    color: #ffffff;

    @media (min-width: 1280px) {
      max-width: 368px;
      margin: 17px 15px 38px;
      font-size: 15px;
      line-height: 21.6px;
      letter-spacing: 0.21px;

      svg {
        display: none;
      }
    }

    p {
      margin: 0;
    }

    img {
      cursor: pointer;
    }

    svg {
      min-width: 15px;
      height: 15px;
      margin-left: 22px;
    }
  }

  .JourneyUsersList {
    position: relative;
    margin-bottom: 26px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 29.5px;
      width: 1px;
      height: 100%;
      background-color: var(--white);
    }
  }

  .JourneyUser {
    display: flex;
    flex-direction: column;

    &:not(:first-of-type) {
      margin-top: 17px;
    }

    &:last-of-type {
      position: relative;
      z-index: 1;
      background-color: var(--main-bg-color);
    }
  }
  &__commentsList {
    margin-bottom: 20px;
    position: relative;
    .verticalLine {
      position: absolute;
      left: 29.5px;
      width: 1px;
      height: calc(100% - 20px);
      background-color: var(--white);
    }
  }
}
