.Journey {
  display: flex;
  flex-direction: column;
  padding-left: 19px;
  margin: 20px 0 0 0;

  @media (min-width: 1280px) {
    padding: 0 35.6%;
  }

 .JourneyTextMain {
  display: flex;
  align-items: center;
  font-family: var(--abcdiatypesemi-mono-regular);
  margin-bottom: 20px;
  align-self: stretch;
  width: 100%;
}

@media (min-width: 1280px) {
  .JourneyTextMain {
    max-width: 368px;
    margin: 17px 15px 38px;
    font-size: 15px;
    line-height: 21.6px;
    letter-spacing: 0.21px;

    svg {
      display: none;
    }
  }
}

.JourneyTextMain p {
  margin: 0;
}

.JourneyTextMain img {
  cursor: pointer;
}

.JourneyTextMain svg {
  min-width: 15px;
  height: 15px;
  margin-left: 22px;
}

.JourneyTextMain .link {
  color: #5858ED;
}
  .JourneyUsersList {
    position: relative;
    margin-bottom: 26px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 29.5px;
      width: 1px;
      height: 100%;
      background-color: var(--white);
    }
  }

  .JourneyUser {
    display: flex;
    flex-direction: column;

    &:not(:first-of-type) {
      margin-top: 17px;
    }

    &:last-of-type {
      position: relative;
      z-index: 1;
      background-color: var(--main-bg-color);
    }
  }
  
}
