.ProfileHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--abcdiatypesemi-mono-regular);
  color: #0a0b0c;
  padding: 20px;
  @media (max-width: 601px) {
    border-bottom: 0.1px solid var(--black);
  }
  // @media (min-width: 601px) {
  //   position: fixed;
  //   left: 3.6%;
  //   top: 0;
  //   height: 5.0%;
  //   width: 27.66%;
  //   margin-left: 1.39%;
  //   border-bottom: 1px solid black;
  // }

  .chatIcon {
    margin-left: 1.2rem;
    position: relative;
    .underChatRedDot {
      width: 5px;
      height: 5px;
      background-color: red;
      position: absolute;
      left: 12px;
      top: 22px;
      border-radius: 50%;
    }
  }

  .blueMarkIcon {
    position: relative;
    font-size: 16px;
    margin-top: 10%;
    left: -20%;
    word-break: break-all;
    right: 0;
  }
  .backArrowParent {
    position: relative;
    top: 3px;
    // @media (min-width: 601px) {
    //   display: none;
    // }
  }
  .profileSwitcher {
    position: relative;

    .profileName {
      position: relative;
      font-size: 16px;
      margin-top: 16%;
      left: -20%;
      font-family: var(--abcdiatypesemi-mono-medium);
      word-break: break-all;
      right: 0;

      // @media (min-width: 601px) {
      //   position: relative;
      //   font-size: 16px;
      //   margin-top: 16%;
      //   left: 0;
      //   font-family: var(--abcdiatypesemi-mono-medium);
      //   word-break: break-all;
      //   right: 0;
      // }
    }

    .arrow {
      @media (max-width: 601px) {
        position: absolute;
        bottom: -3%;
        left: 90%;
        transform: rotate(-90deg) translateX(-1px);
        z-index: 1;
      }

      // @media (min-width: 601px) {
      //   position: absolute;
      //   bottom: -3%;
      //   left: auto;
      //   right: -20%;
      //   transform: rotate(-90deg) translateX(-1px);
      //   z-index: 1;
      // }
    }
  }

  .navBar {
    display: none;
    margin-right: 19px;

    & > button,
    & > a button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      padding: 0;
      background: var(--white);
      border-radius: 50%;
      border: 0.5px solid var(--white);
      cursor: pointer;

      &.uploadButton {
        position: relative;
        width: 35px;
        height: 35px;
        margin-right: 20px;
      }

      &.avatarButton {
        overflow: hidden;
        img {
          display: none;
          width: 100%;
          border-radius: 50%;
          height: 100%;
          object-fit: contain;
        }
      }
    }

    & > div {
      right: 92px;
      z-index: 1;
      align-items: flex-end;
      justify-content: flex-start;
      padding-top: 74px;

      &[class^="UploadProduct"],
      &[class^="UploadPhoto"] {
        z-index: 2;
        padding-top: 19px;
      }

      & > button {
        width: 368px;
        margin-right: 68px;
      }
    }
  }

  .profileCoins {
    display: flex;
    align-items: center;
    cursor: pointer;

    &.hidden {
      visibility: hidden;
    }

    @media (min-width: 1280px) {
      display: none;
    }

    .coinsAmount {
      margin-right: 7px;
      font-size: 0.8125rem;
    }
  }
}
