.Vault {
  font-family: var(--abcdiatypesemi-mono-regular);
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  .header {
    display: flex;
    align-items: center;
    color: var(--black);
    margin-top: 10px;
    margin-bottom: 30px;

    @media (min-width: 1280px) {
      justify-content: center;
    }

    .mainTitle {
      font-size: 1.375rem;
      text-transform: uppercase;
    }

    span {
      margin-left: 15px;
      font-family: var(--abcdiatypesemi-mono-regular);
      font-size: 0.75rem;
    }
  }

  .wardrobeList {
    // @media (min-width: 601px) {
    //   width: 200px;
    //   display: flex;
    //   flex-direction: column-reverse;
    //   justify-content: center;
    // }
    display: flex;
    flex-direction: column-reverse;
    margin-right: 10px;
    padding: 0;
    list-style-type: none;
    text-align: left;

    @media (min-width: 1280px) {
      width: 70vw;
      margin: 26px auto 0;
    }

    .wardrobeItem {
      // @media (min-width: 601px) {
      //   display: flex;
      //   justify-content: space-between;
      //   margin-left: 10%;
      //   margin-right: 23.75%;
      // }
      display: flex;
      align-items: center;
      justify-content: space-between;

      a {
        text-decoration: none;
      }

      &:not(:first-child) {
        margin-bottom: 16px;
      }

      .wardrobeProductInfo {
        word-break: break-all;
        display: flex;
        flex-grow: 1;
        cursor: pointer;
        color: var(--black);
        .photoWrap {
          width: 64px;
          height: 64px;
          min-width: 64px;
          margin-right: 12px;
          .wardrobeProductPhoto {
            figure {
              height: 100%;

              img {
                height: 100%;
                object-fit: contain;
              }
            }
          }
          @media (max-width: 1279px) {
            border-radius: 8px;
            overflow: hidden;
          }
        }

        .wardrobeProductSummary {
          display: flex;
          flex-direction: column;
          .wardrobeProductName {
            word-break: break-all;
          }
          .wardrobeProductOwner,
          .wardrobeProductPrice {
            margin-top: 3px;
            font-family: var(--abcdiatypesemi-mono-regular);
            font-size: 0.875rem;
          }

          .wardrobeProductPrice {
            font-size: 0.75rem;
          }
        }
        .rentTerm,
        .missTerm {
          text-transform: uppercase;
          line-height: 1.3;
          font-size: 8px;
        }
        .missTerm {
          color: var(--tomato);
        }
        .rentTerm {
          color: var(--clear-blue);
        }
      }

      & > button {
        width: 101px;
      }
    }
  }

  .buttons {
    display: flex;
    width: 120px;
    margin-left: 20px;
    button {
      font-family: var(--abcdiatypesemi-mono-regular);
      margin: 4px 7x 0 0;
      width: 120px;
    }
    @media (max-width: 700px) {
      flex-direction: column;
      width: 95px;
      button {
        font-size: 12px;
        padding: 9px 10px;
        width: 95px;
      }
    }
  }
  .buttonPassOn {
    display: flex;
    width: 112px;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: white;
    flex-shrink: 0;
    border-radius: 8px;
    background: var(--black, #0a0b0c);
  }
  .buttonGiveBack {
    display: flex;
    width: 112px;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: white;
    flex-shrink: 0;
    border-radius: 8px;
    background: #5858ed;
  }
}

.EmptyVault {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .emptyValutImage {
    position: absolute;

    top: 52%;
  }
  img {
    max-width: 101px;
  }
  .emptyVaultMessage {
    // @media (min-width: 601px) {
    //   position: absolute;
    //   top: 329px;
    // }
    margin-top: 34px;
    font-size: 1.125rem;
    text-align: center;
    color: #929292;
    font-family: var(--abcdiatypesemi-mono-regular);
  }
}

.piecesAmount {
  margin-top: 16px;
  // @media (min-width: 601px) {
  //   position: absolute;
  //   left: 5.625%;
  //   top: 5%;
  // }
}

.piecesAmountEmpty {
  margin-top: 16px;
  // @media (min-width: 601px) {
  //   position: absolute;
  //   left: 5.625%;
  //   top: 5%;
  // }
}
.settingsSvg {
  cursor: pointer;
  align-self: center;
  position: absolute;
  right: 32px;
}
