.Footer {
  display: flex;
  margin-top: auto;
  border-top: 1px solid var(--black);

  &[data-loginemail='true'] {
    border-top: none;
  }

 

  section {
    width: calc(100% / 3);
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    img {
      max-width: fit-content;
    }
    .menuLink {
      display: block;
      margin-bottom: 10px;
      font-family: var(--abcdiatypesemi-mono-regular);
      font-size: 0.875rem;
      color: var(--black);
      text-decoration: none;
    }
  }
  &__emptySection {
    width: calc(100% / 3);
  }
}