.VaultTabs {
  display: flex;
  border-bottom: 2px solid var(--white);
  margin-top: 32px;
  button {
    width: calc(100% / 3);
    background: transparent;
    border: none;
    color: var(--white);
    font-family: var(--abcdiatypesemi-mono-regular);
    appearance: none;
    outline: none;
    padding: 12px 0;
    opacity: 0.5;
    cursor: pointer;
    .underLine {
      position: relative;
      top: 12px;
      display: block;
      height: 3px;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
    }
  }
  button.activeTab {
    opacity: 1;
    .underLine {
      background-color: var(--white);
    }
  }
}
