.ProductInfo {
  display: flex;
  flex-direction: column;
  width: 100%;

  @media (min-width: 1280px) {
    overflow: hidden;
  }

  .lablacoLogo {
    width: 87px;
    height: 17px;
    margin: 24px auto 0;

    @media (min-width: 1280px) {
      display: none;
    }
  }

  .header {
    height: 69px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 17px;
    padding: 13px 15px;
    font-family: var(--abcdiatypesemi-mono-regular);
    color: var(--white);
    border-bottom: 0.5px solid black;

    a {
      position: relative;
      display: block;
      cursor: pointer;

      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 30px;
        height: 30px;
      }
    }
    .logoImg {
      width: 55px;
    }

    .profileCoins {
      display: flex;
      align-items: center;
      cursor: pointer;

      &.hidden {
        visibility: hidden;
      }

      .shareButton {
        width: 20px;
        height: 15px;
      }

      .coinsAmount {
        margin-right: 7px;
        font-size: 0.8125rem;
      }
    }
  }

  .Carausel {
    border-bottom: 1px solid var(--black, #0a0b0c);
    padding-bottom: 20px;
    position: relative;

    ul[class^="slider"] {
      li {
        background-color: transparent;
      }
    }

    ul[class="control-dots"] {
      display: flex;
      justify-content: center;
      padding-left: 0;

      .dot {
        width: 22px;
        height: 2px;
        background-color: #d5d5d5;
        border-radius: 2px;

        &.active {
          background-color: var(--black);
        }

        &:not(:first-child) {
          margin-left: 11px;
        }
      }
    }
  }

  .ActionButtons {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    flex-direction: row;
    img,
    svg {
      cursor: pointer;
    }

    &__followingBtn {
      width: 90px;
      height: 26px;
      border: none;
      font-size: 14px;
      font-family: var(--abcdiatypesemi-mono-regular);
      cursor: pointer;
      background-color: #5858ed;
      border-radius: 4px;
      position: relative;
      span {
        position: absolute;
        left: 10px;
      }
      img {
        width: 18px;
        height: 18px;
        padding: 0;
        position: absolute;
        top: 4px;
        right: 3px;
      }
    }
    &__chatBtn {
      background-color: transparent;
      border: 1px solid var(--black);
      color: var(--black);
      img {
        top: 6px;
        right: 6px;
      }
    }
    &__shareBtn {
      width: 90px;
      height: 26px;
      border: none;
      font-size: 14px;
      font-family: var(--abcdiatypesemi-mono-regular);
      cursor: pointer;
      background-color: transparent;
      border: 1px black solid;
      border-radius: 4px;
      position: relative;

      span {
        position: absolute;
        left: 10px;
      }
      img {
        width: 18px;
        height: 18px;
        padding: 0;
        position: absolute;
        top: 4px;
        right: 3px;
      }
    }
    @media (min-width: 1280px) {
      width: 400px;
      margin: 0 auto;
      &__shareBtn {
        left: 0;
      }
    }
  }

  .ModelViewerStyle {
    max-width: 334px;
    height: 334px;
    margin: 0 auto;
    border-radius: 30.3px;
    background-position: center;
  }

  .ModelViewerInnerStyle {
    width: 100%;
    height: 100%;
    margin: 0;
    border-radius: 0px;
    background-color: black;
    background-position: center;
  }

  .CustomARBtn {
    visibility: hidden;
  }

  .CarauselWrapper {
    max-width: 334px;
    max-height: 334px;
    margin: 0 auto;
    background-color: var(--white);
    border-radius: 30.3px;
    overflow: hidden;
  }

  .CarauselImage {
    width: 350px;
    height: 350px;
    // max-width: 334px;
    // max-height: 334px;
    margin: 0 auto;
    // padding-top: 100%;
    border-radius: 30.3px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .CompanyContainer {
    padding-top: 4px;
    display: flex;
    align-items: center;
    width: 100%;
    padding-bottom: 20px;
    justify-content: space-between;
    margin-bottom: 10px;
    border-bottom: 1px black solid;

    @media (min-width: 1280px) {
      justify-content: center;
      margin-bottom: 22px;
      padding: 0 21.5%;
    }

    .CompanyInfo {
      display: flex;
      align-items: center;
    }

    .CompanyLogo {
      width: 67px;
      min-width: 67px;
      height: 67px;
      margin-left: 19px;

      @media (min-width: 1280px) {
        margin-left: 0;
      }

      img + span {
        width: 18px;
        height: 18px;
        top: -3px;
        right: -3px;
      }
    }

    .CompanyText {
      margin-left: 19px;
      display: flex;
      height: 100%;
      flex-direction: column;
      font-size: 15.5px;

      @media (max-width: 1279px) {
        width: initial;
      }
    }

    .CompanyName {
      font-family: var(--abcdiatypesemi-mono-regular);
      color: black;
    }

    .CompanyTag {
      margin-top: 5px;
      font-family: var(--abcdiatypesemi-mono-regular);

      a {
        color: var(--black);
        text-decoration: none;
      }
    }

    .ViewContainer {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      color: black;
      margin-right: 20px;

      gap: 6px;
      font-family: var(--abcdiatypesemi-mono-regular);

      @media (min-width: 1280px) {
        margin: 0 60px;
      }
    }

    .FollowButton {
      display: none;

      @media (min-width: 1280px) {
        margin-right: 35px;
        display: block;

        button {
          margin-bottom: 0;
        }
      }
    }
  }

  .iconContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--black);

    span {
      text-align: center;
      margin-top: 10px;
      font-size: 10px;
      line-height: 12px;
      font-family: var(--abcdiatypesemi-mono-regular);
    }

    .icon {
      width: 30px;
      height: 25px;
    }

    .EyeIcon {
      width: 35px;
      height: 25px;
    }
  }

  .MainBody {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 100%;
    background-color: #e8ebee;
    border-radius: 20px 20px 0px 0px;
    padding-bottom: 30px;
  }
  .titleContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .hash {
    padding-top: 20px;
    margin-right: 20px;
  }

  .MainText {
    padding-top: 26px;
    padding-left: 18px;
    display: flex;
    width: 100%;
    font-family: var(--abcdiatypesemi-mono-regular);
    color: black;
    font-size: 18.8px;

    @media (min-width: 1280px) {
      padding: 24px calc(35.6% + 18px) 0;
    }
  }

  .MainTabs {
    padding-top: 18px;
  }

  .TabsBody {
    font-size: 15px;
    font-family: var(--abcdiatypesemi-mono-regular);
    color: rgb(137, 137, 137);
  }

  .Price {
    display: flex;
    flex-direction: column;
    padding: 0 18px;
    font-family: var(--abcdiatypesemi-mono-light);
    color: var(--black);
    height: 200px;
    background-color: transparent;
    padding-top: 80px;
    .digital {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    .phygital {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    .phygitalTitle {
      font-size: 14px;
      font-family: var(--abcdiatypesemi-mono-regular);
      width: 80%;
    }
    .priceText {
      font-family: var(--abcdiatypesemi-mono-medium);
      width: 117px;
      position: relative;
      left: -20px;
    }
    .buyContainer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    .buyContainer > * {
      width: 100%;
    }
    .buyContainer > * {
      height: 43px !important;
    }
    .buyBtn {
      border-radius: 8px;
      background: rgba(255, 255, 255, 0.4);

      width: 180%;
    }
    .buyText {
      position: relative;
      left: 10px;
      top: 13px;
    }
    .PriceHeader {
      font-size: 15.5px;
      line-height: 19px;
      font-family: var(--abcdiatypesemi-mono-light);
      // margin-bottom: 15px;
    }

    @media (min-width: 1280px) {
      padding: 0 calc(35.6% + 18px);
    }

    span {
      margin-bottom: 15px;
      font-size: 15.4px;
      line-height: 17px;
      font-family: var(--abcdiatypesemi-mono-regular);
    }
  }

  .orderDetails {
    margin: 38px 0;
    font-family: var(--abcdiatypesemi-mono-regular);

    .mainTitle {
      color: var(--black, #0a0b0c);
      font-family: var(--italianoldstylemtstd-regular);
      font-size: 18px;
      font-style: normal;
      font-weight: 400;

      line-height: normal;
      text-transform: uppercase;
      padding-left: 20px;
      padding-bottom: 20px;
      border-bottom: 1px black solid;

      @media (min-width: 1280px) {
        padding: 0 36.5%;
      }
    }

    .label {
      color: var(--black, #0a0b0c);
      font-family: var(--abcdiatypesemi-mono-regular);
      font-size: 14px;
      padding-left: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-top: 10px;

      @media (min-width: 1280px) {
        padding: 0 36.5%;
      }
    }

    .sizesList {
      display: flex;
      margin-bottom: 0;
      padding-left: 0;
      list-style-type: none;
      flex-wrap: wrap;
      justify-content: center;

      li {
        min-width: 50px;
        padding: 0 5px;
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 12px;
        background-color: transparent;
        color: var(--white);
        font-size: 0.875rem;
        cursor: pointer;
        margin-right: 15px;
        margin-bottom: 15px;
        .increaseDecrease {
          position: absolute;
          right: 10px;
        }

        &.active {
          color: var(--black);
          width: 100%;
          margin-left: 20px;
          margin-bottom: 20px;
          background-color: #e8ebee;
          width: 350px;
          position: relative;
          right: 10px;
          height: 50px;
          border-radius: 8px !important;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
    .quantityList {
      display: flex;
      margin-bottom: 0;
      padding-left: 0;
      list-style-type: none;
      flex-wrap: wrap;
      justify-content: center;

      li {
        min-width: 50px;
        padding: 0 5px;
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 12px;
        background-color: transparent;
        color: var(--white);
        font-size: 0.875rem;
        cursor: pointer;
        margin-right: 15px;
        margin-bottom: 15px;
        .increaseDecrease {
          position: absolute;
          right: 10px;
        }

        &.active {
          color: var(--black);
          width: 100%;
          margin-left: 20px;
          margin-bottom: 20px;
          background-color: #e8ebee;
          width: 360px;
          position: relative;
          right: 1px;
          padding-left: 100px !important;
          height: 50px;
          border-radius: 8px !important;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }

    .quantityList {
      margin-bottom: 32px;
    }

    .itemLocation {
      .label {
        margin-top: 46px;
        margin-bottom: 20px;

        @media (min-width: 1280px) {
          padding: 0 36.5%;
        }
      }
      .label2 {
        color: var(--black, #0a0b0c);
        font-family: var(--abcdiatypesemi-mono-regular);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-left: 20px;
        @media (min-width: 1280px) {
          padding: 0 36.5%;
        }
      }
      .map {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
      }

      div[class="mapboxgl-ctrl-attrib-inner"] {
        display: none;
      }

      @media (min-width: 1280px) {
        div[class="mapboxgl-map"] {
          margin: 0 36.5%;
        }
      }
    }

    .checkoutTabs {
      margin: 16px 0;
      padding-bottom: 30px;

      .tabs {
        font-family: var(--abcdiatypesemi-mono-regular);
        font-size: 15.37px;
        letter-spacing: 1.1px;
      }
    }

    .currentCheckoutTab {
      margin: 29px 14px 0;

      @media (min-width: 1280px) {
        margin: 29px 0 0;
        padding: 0 36.5%;
      }

      & form {
        & > * {
          &:not(:first-child) {
            margin-top: 33px;
          }
        }

        label {
          position: relative;
          font-size: 22px;

          &::before {
            content: "";
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 3px;
            background-color: var(--white);
            border-radius: 10px;
          }

          input {
            height: 27px;
            margin-bottom: 8px;
            padding-bottom: 0;
            border-bottom-width: 0;
          }

          input::placeholder {
            font-family: var(--abcdiatypesemi-mono-regular);
            font-size: 18px;
          }
        }

        button {
          position: relative;
          padding: 17.5px 5px;
          border-radius: 28px;

          &::before {
            content: "";
            display: block;
            position: absolute;
            top: -36px;
            width: 100vw;
            height: 1px;
            background-color: var(--white);
          }
        }
      }
    }
    .errorText {
      @media (min-width: 1280px) {
        padding: 0 36.5%;
      }
      font-size: 14px;
      color: var(--tomato);
    }
  }

  button[disabled] {
    cursor: not-allowed;
  }

  button[type="submit"] {
    width: 100%;
    max-width: 368px;
    margin: 0 auto;
  }
  button.backBtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  .backArrowImage {
    width: 24px;
    height: 16.81px;
  }
}
