.CustomHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--abcdiatypesemi-mono-regular);
  color: var(--black);
  padding: 13px 12px 7px;
  padding-bottom: 20px;
  height: 50px;
  border-bottom: 1px black solid;

  .chatIcon {
    margin-left: 1.2rem;
    position: relative;
    //@media (max-width: 1279px) {
    display: none;
    //}
    .underChatRedDot {
      width: 5px;
      height: 5px;
      background-color: red;
      position: absolute;
      left: 12px;
      top: 22px;
      border-radius: 50%;
    }
  }
  & > .backButton {
    display: block;
    position: relative;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 27px;
      height: 27px;
    }
  }

  .profileSwitcher {
    display: flex;
    align-items: baseline;
    cursor: pointer;

    .profileName {
      margin-right: 14px;
      font-size: 1.125rem;
      word-break: break-all;
    }
    .profileImage {
      width: 54px;
      height: 20px;
    }
    .arrow {
      transform: rotate(-90deg) translateX(-1px);
    }
  }

  .navBar {
    display: none;
    margin-right: 19px;

    display: flex;
    align-items: center;

    & > button,
    & > a button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      padding: 0;
      background: var(--black);
      border-radius: 50%;
      border: 0.5px solid var(--black);
      cursor: pointer;

      &.uploadButton {
        position: relative;
        width: 35px;
        height: 35px;
        margin-right: 20px;
      }

      &.avatarButton {
        overflow: hidden;

        display: none;

        img {
          width: 100%;
          border-radius: 50%;
          height: 100%;
          object-fit: contain;
        }
      }
    }

    & > div {
      right: 92px;
      z-index: 1;
      align-items: flex-end;
      justify-content: flex-start;
      padding-top: 74px;

      &[class^="UploadProduct"],
      &[class^="UploadPhoto"] {
        z-index: 2;
        padding-top: 19px;
      }

      & > button {
        width: 368px;
        margin-right: 68px;
      }
    }
  }

  .profileCoins {
    display: flex;
    align-items: center;
    cursor: pointer;

    &.hidden {
      visibility: hidden;
    }

    .coinsAmount {
      margin-right: 7px;
      font-size: 0.8125rem;
    }
  }
}
