.SelectField {
  position: relative;
  display: block;
  height: fit-content;
  z-index: 111111;
  margin-bottom: 10px;
  border: 1px solid var(--black);
  border-radius: 20px;
  background-color: var(--main-bg-color);
  size: 6px;
  width: 100%;
  font-family: var(--abcdiatypesemi-mono-regular);
  cursor: pointer;
  .typerow {
    label {
      size: 5px;
      color: var(--grey);
      margin-left: 2px;
    }
    input {
      display: block;
      background-color: transparent;
      color: var(--black);
      border: none;
      outline: none;
      height: 40px;
      width: 100%;
      &::placeholder {
        color: var(--black);
        opacity: 1;
        font-family: var(--abcdiatypesemi-mono-regular);
      }
      
    }
  }
  &[data-value="false"] {
    border: 1px solid var(--grey);
    .typerow input {
      color: var(--grey);
      &::placeholder {
        opacity: 0.5;
      }
    }
  }
  .list {
    max-height: 170px;
    overflow-y: auto;
    margin: 0 0 0 3px;
    padding: 0;
    scrollbar-color: var(--black) transparent;
    scrollbar-width: thin;
    &::-webkit-scrollbar {
      width: 4px;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 8px;
      background-color: var(--black);
    }
    li {
      line-height: 1.5;
    }
  }
}
.arrowImage {
  position: absolute;
  right: 12px;
  top: 14px;
  cursor: pointer;
}
.arrowBtn {
  transform: rotate(-90deg);
}
.openArrowBtn {
  transform: rotate(90deg);
}
